body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 55px;
}
h2 {
  font-size: 35px;
}
p {
  font-size: 16px;
  line-height: 20px;
}
#header-section {
  background: url(./images/donation8.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  text-align: center;
  color: white;
}
.header-content {
  background-color: rgba(11, 9, 9, 0.63);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 14px 20px;
  border-radius: 5px;
  color: white;
  background-color: #ff5d4b;
  font-size: 15px;
  border: none;
}
.description {
  text-align: center;
}
.donate-amount {
  display: flex;
  text-align: center;
  justify-content: center;
}
.amount {
  padding: 30px;
  font-size: 26px;
  font-weight: 600;
  color: #0000009c;
  background-color: #8080803b;
  border-radius: 7px;
  margin: 10px;
  border: 2px solid;
}
.donate-amount p:hover {
  border: 2px solid#ff5d4b;
  background-color: #8b332939;
}
section {
  text-align: center;
  padding-top: 75px;
}
.amount-box {
  padding: 30px;
}
.amount-input {
  border: none;
  border-bottom: 2px solid #0000006e;
  width: 500px;
  text-align: center;
  padding: 10px 20px;
  font-size: 15px;
}
.donate-planning-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-box {
  width: 25%;
  text-align: left;
  padding: 40px 20px;
  border-radius: 5px;
  margin: 30px 10px;
  height: 230px;
}
.card1 {
  background-color: rgb(31 116 44 / 15%);
}
.card2 {
  background-color: rgb(255 111 111 /15%);
}
.card3 {
  background-color: rgb(255 245 16 / 15%);
}
footer {
  text-align: center;
  background-color: #000000d9;
  color: #ffffffb0;
  padding: 45px;
  margin-top: 120px;
}
#text-style {
  font-family: "Lobster Two", cursive;
  font-size: 45px;
  color: #ff1400bd;
}
.update-input {
  padding: 70px;
  background-color: #bba3254d;
  margin: 40px 20%;
}
.email-input {
  padding: 12px;
  width: 210px;
  background-color: #d6d6d6;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -4px;
}
.subscribe-input {
  padding: 12px;
  border: none;
  background-color: #ff0000ab;
  color: white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 130px;
}
.company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-logo-link {
  width: 12%;
  height: 100px;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img {
  width: 70%;
  height: auto;
}
.logo4 {
  width: 45%;
}
.logo5 {
  width: 35%;
}
